<div class='login-background'>
  <div class='login-container'>
    <h2>Bug Tracker Sign Up</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <div class='login-form-control'>
        <%= render "devise/shared/error_messages", resource: resource %>
      </div>

      <div class="login-form-control">
            <%=f.label :username %><br>
              <%= f.text_field :username, class:"form-control", autofocus: true, autocomplete: "username" %>
            </div>

        <div class="login-form-control">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>

        <div class="login-form-control">
          <%= f.label :password %>
          <%= f.password_field :password, autocomplete: "new-password", placeholder: '                6 characters minimum' %>
        </div>

        <div class="login-form-control">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
        </div>

        <div>
          <%= f.submit "Sign up", class: 'login-btn' %>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>

  </div>  
</div>